.parallax
  #group1.parallax__group
    .parallax__layer.parallax__layer--base
      .title
        %h1
          Feeling trapped? We've got you covered. Start by creating your resume.
        = link_to 'Sign in', login_path, class: 'btn btn-primary'
        = link_to 'Sign up', signup_path, class: 'btn btn-primary'
  #group2.parallax__group
    .parallax__layer.parallax__layer--base
      #workflow.trident
        .trident__column.trident__column--left
          .fa-stack
            = icon('circle', '', class: 'fa-stack-2x')
            = icon('envelope', '', class: 'fa-stack-1x fa-inverse')
          %h1 Send
          %h4 an email through us or a direct link
        .trident__column.trident__column--mid
          .fa-stack
            = icon('circle', '', class: 'fa-stack-2x')
            = icon('clock-o', '', class: 'fa-stack-1x fa-inverse')
          %h1 Update
          %h4 and others receive changes in real time
        .trident__column.trident__column--right
          .fa-stack
            = icon('circle', '', class: 'fa-stack-2x')
            = icon('file-pdf-o', '', class: 'fa-stack-1x fa-inverse')
          %h1 Print
          %h4 if you need a paper copy
    .parallax__layer.parallax__layer--back
  #group3.parallax__group
    .parallax__layer.parallax__layer--fore
      .title
        %h2
          Access your resume from anywhere in the universe (with an internet connection).
    .parallax__layer.parallax__layer--base
  #group7.parallax__group
    .parallax__layer.parallax__layer--base
      .title
        = link_to 'https://plus.google.com/u/0/117390293996341943984' do
          %span.fa-stack.fa-lg
            = icon('square-o', '', class: 'fa-stack-2x')
            = icon('google-plus', '', class: 'fa-stack-1x')
        = link_to 'https://www.linkedin.com/in/softwaredan' do
          %span.fa-stack.fa-lg
            = icon('square-o', '', class: 'fa-stack-2x')
            = icon('linkedin', '', class: 'fa-stack-1x')
