.comment
  .comment-info
    = link_to comment.user.name, comment.user
    on
    = comment.created_at.strftime('%b %d')
    - if current_user?(comment.user)
      = link_to comment, class: 'pull-right', method: :delete, data: {confirm: 'Are you sure you want to delete this?'} do
        = icon('remove')
      %span.toggle-edit.pull-right{data: {id: "commentform#{comment.id}"}, style: 'margin-right: 5px; cursor: pointer;'}
        = icon('pencil')
  .comment-content
    = comment.content
  - if current_user?(comment.user)
    .toggle-form.clearfix{id: "commentform#{comment.id}"}
      = form_for comment, html: {role: 'form'} do |f|
        .form-group
          = f.text_area :content, class: 'form-control', rows: 5, required: true
        = f.submit 'Update', class: 'btn btn-sm btn-primary pull-right'
        .btn.btn-sm.btn-default.pull-right.toggle-cancel{data: {id: "commentform#{comment.id}"}}
          Cancel
