= render 'navbar'
.content-wrap
  .container
    .row
      .col-md-6.col-md-offset-3
        = image_tag @user.avatar.url(:medium), class: 'medium-avatar'
        = form_for @user, html: {role: 'form'} do |f|
          = hidden_field_tag :avatar_destroy, '1'
          = f.submit 'Delete avatar', class: 'btn btn-default'
        = form_for @user, html: {role: 'form', multipart: true} do |f|
          .form-group
            = f.label :avatar
            = f.file_field :avatar
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control'
          .form-group
            = f.label :password_confirmation, 'Confirmation'
            = f.password_field :password_confirmation, class: 'form-control'
          = f.submit 'Update', class: 'btn btn-large btn-primary'
