.vertical-center
  .container
    .row
      .col-md-4.col-md-offset-4
        %h1 Welcome!
        = form_for @user, html: {role: 'form'} do |f|
          .form-group
            = f.text_field :name, placeholder: 'Name', class: 'form-control'
          .form-group
            = f.text_field :email, placeholder: 'Email', class: 'form-control'
          .form-group
            = f.password_field :password, placeholder: 'Password', class: 'form-control'
          .form-group
            = f.password_field :password_confirmation, placeholder: 'Re-enter Password', class: 'form-control'
          = f.submit 'Sign up', class: 'btn btn-large btn-primary'
