= render 'navbar'
.content-wrap
  .col-left
    = image_tag @user.avatar.url(:medium), class: 'medium-avatar'
    %h2
      = @user.name
    %h3
      = @user.title
    .markdown
      = markdown @user.description.to_s
    %div
      %button.btn.btn-primary{type: 'button', data: {toggle: 'modal', target: '#bio-modal'}}
        = icon('edit')
        Edit info
  .col-main
    .panel.panel-default
      .panel-heading
        %h2
          Documents
        = form_for current_user.documents.build, html: {class: 'pull-right', role: 'form'} do |f|
          = f.submit 'New Document', class: 'btn btn-primary'
      %table.table.table-hover
        - @user.documents.each do |d|
          %tr
            %td
              = link_to d.name, edit_document_path(d)
            %td.doc-time{data: {time: (d.updated_at.to_i * 1000)}}
            %td
              = link_to d, method: :delete, data: {confirm: "Are you sure? This can not be undone."} do
                = icon('trash')
#bio-modal.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: 'bio-modal-label', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, aria: {label: 'Close'}}
          %span{aria: {hidden: 'true'}} &times;
        %h4#bio-modal-label.modal-title Give an overview of yourself or your work
      .modal-body
        = form_for @user, html: {role: 'form'} do |f|
          .form-group
            %a{href: 'https://guides.github.com/features/mastering-markdown/', target: '_blank'}
              You can use markdown here
            = f.text_area :description, class: 'form-control', rows: 12
          = f.submit 'Update', class: 'btn btn-primary'
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
