.container
  .row
    .col-xs-4.doc-info{style: 'border-right: 1px solid #ccc;'}
      = link_to @document.user, class: 'pull-left', style: 'margin-right: 10px;' do
        = image_tag @document.user.avatar.url(:thumb), class: 'thumb-avatar'
      %h3= @document.user.name
      %em.small= @document.user.title
    .col-xs-7.doc-info
      %h1
        - if edit_modal
          %a{href: '#', data: {toggle: 'modal', target: '#name-edit-modal'}}= @document.name
        - else
          = @document.name
      %em#doc-saved-at.small
    .col-xs-1.doc-info
      %button.btn.btn-primary{type: 'button', data: {toggle: 'modal', target: '#share-modal'}}
        Share

= content_for :modals do
  - if edit_modal
    #name-edit-modal.modal.fade{tabindex: '-1', role: 'dialog',
      aria: {labelledby: 'name-edit-label', hidden: 'true'}}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
              %span{aria: {hidden: 'true'}} &times;
            %h4#name-edit-label.modal-title Rename document
          .modal-body
            = form_for @document, html: {role: 'form'} do |f|
              .form-group
                = f.label :name, 'New name'
                = f.text_field :name, class: 'form-control'
              = f.submit 'Update', class: 'btn btn-primary'
              %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close

  #share-modal.modal.fade{tabindex: '-1', role: 'dialog',
    aria: {labelledby: 'share-label', hidden: 'true'}}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
            %span{aria: {hidden: 'true'}} &times;
          %h4#share-label.modal-title Share document
        .modal-body
          = link_to 'View published version', document_url(@document), target: '_blank'
          %h5 Or copy this shareable link
          .input-group
            %input#share-link.form-control{value: document_url(@document), readonly: true}
            %span#share-clip-wrap.input-group-btn{data: {toggle: 'tooltip', placement: 'top'},
              title: 'Copy to clipboard'}
              %button#share-clip.btn.btn-default{type: 'button',
                data: {clipboard: {text: 'error copying link', target: 'share-link'}}}
                = icon('link')
